{
  "*.{js,jsx.tsx,scss,yml,json,md}": [
    "prettier --write"
  ],
  "*.{js,jsx,tsx}": [
    "jest --findRelatedTests --passWithNoTests",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}
